body {
    color-scheme: light dark;
    margin: 0;
    color: #EEE;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: black;
    color: #eee;
    image-rendering: pixelated;
    transition: opacity .5s;
}

canvas._css_fade-out {
    pointer-events: none;
    opacity: 0;
}

._css_not-loaded-body {
    display: none;
}

._css_root {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    place-items: center;
}

._css_root > * {
    position: absolute;
}

._css_overlay {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    --opacity: .7;
}


svg {
    fill: white;
}
button>svg {
    fill: #333;
}
