._css_animated-visibility {
  --_css_duration: 300ms;
  transition: opacity var(--_css_duration), transform var(--_css_duration);
  opacity: var(--_css_opacity, 1);
}

._css_animated-visibility:not(._css_fully-visible) {
  pointer-events: none;
}

._css_animated-visibility._css_invisible._css_opacity {
  opacity: 0;
}
._css_animated-visibility._css_invisible._css_translate-y {
  transform: translateY(var(--_css_translate-y, 100%));
}

._css_animated-visibility._css_gone {
  display: none;
  visibility: hidden;
}
