

._css_animated-visibility {
    --duration: 300ms;
    transition: opacity var(--duration), transform var(--duration);
    pointer-events: none;
    opacity: var(--opacity, 1);
}

._css_animated-visibility._css_fully-visible {
    pointer-events: all;
}

._css_animated-visibility._css_invisible._css_opacity {
    opacity: 0;
}
._css_animated-visibility._css_invisible._css_translate-y {
    transform: translateY(var(--translate-y, 100%));
}

._css_animated-visibility._css_gone {
    display: none;
    visibility: hidden;
}