canvas {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

body > * {
    position: absolute;
}

.controls {
    right: 0;
    top: 0;
    padding: 4px;
    margin: 4px;
    background: rgba(0, 0, 0, .3);
}

label {
    display: block;
    text-align: right;
}
